<div class="flex flex-col items-center align-middle p-7">
    <form appPageContent [formGroup]="formLogin" class="flex flex-col">

        <div class="items-center my-8">
            <h1 class="text-center mat-title-large mb-6">Login</h1>
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput name="email" formControlName="email" autocomplete="off">
                    <mat-error *ngIf="formLogin.get('email')?.hasError('required')">
                        Email es requerido
                    </mat-error>
                    <mat-error *ngIf="formLogin.get('email')?.hasError('email')">
                        Email debe ser un correo electrónico válido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full mt-2">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput name="password" formControlName="password" autocomplete="off">
                    <mat-error *ngIf="formLogin.get('password')?.hasError('required')">
                        Password es requerido
                    </mat-error>
                </mat-form-field>
                <div class="flex items-center justify-center mt-4">
                    <button mat-flat-button class="w-1/2 text-center" (click)="onLogin()">Ingresar</button>
                </div>
            </div>
        </div>

    </form>
</div>