<app-page>
  <h1 appPageTitle>Block Loader</h1>
  <div appPageContent>
    <h3 class="mat-title-large">Basic block loader</h3>
    <emr-playground exampleUrl="_docs/components/block-loader/_examples" exampleName="basic-block-loader-example">
      <app-basic-block-loader-example/>
    </emr-playground>

    <h3 class="mat-title-large">Block loader in a dialog</h3>
    <emr-playground exampleUrl="_docs/components/block-loader/_examples" exampleName="block-loader-in-modal-example">
      <app-block-loader-in-modal-example/>
    </emr-playground>

    <h2>API Reference</h2>
    <p>
      Properties for the <code class="code">emr-block-loader</code>.
    </p>

    <div class="border border-default rounded-xl shadow-sm overflow-hidden mt-6 mb-6">
      <table class="emr-table not-mat-typography">
        <thead>
        <tr class="bg-neutral-200 dark:bg-neutral-700">
          <th class="w-1/2">Prop</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>loading</div>
            <div class="text-xs text-neutral-600 mt-0.5">Show/Hide block loader</div>
          </td>
          <td>boolean</td>
          <td>false</td>
        </tr>
        <tr>
          <td>
            <div>spinnerDiameter</div>
            <div class="text-xs text-neutral-600 mt-0.5">Set spinner diameter</div>
          </td>
          <td>number</td>
          <td>48</td>
        </tr>
        <tr>
          <td>
            <div>spinnerStrokeWidth</div>
            <div class="text-xs text-neutral-600 mt-0.5">Set spinner stroke width</div>
          </td>
          <td>number</td>
          <td>4</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page>
